# Go Binary Files
/bin/
/obj/
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Go Cache Files
*.log
*.tmp
*.swp
*.swo

# Go module files
/go/pkg/
/go/bin/
/go/src/
/vendor/
/coverage.out

# Modules and dependencies
go.sum
go.work

# Sensitive environment and configuration files
.env
config/config.json


# IDE files and code editor
.vscode/

# GORM cache and temporary files
/tmp/